<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <div class="page-header">
        <h2>Contact Us</h2>
      </div>

      <br />

      <p>Please reach out to us for any questions, comments, or suggestions. We appreciate all feedback.</p>
      <p>&#42; required field</p>
      
      <br />

      <%= form_tag "/submit_message", method: :post do %>
        <div class="form-group">
          <%= label_tag :first_name, t(:first_name)  %>
          <%= text_field_tag :first_name, @request ? @request.first_name : "", class: 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= label_tag :last_name, t(:last_name) %>
          <%= text_field_tag :last_name, @request ? @request.last_name : "", class: 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= label_tag :email, t(:email) %>
          <%= text_field_tag :email, @request ? @request.email : "", class: 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= label_tag :subject, t(:subject) %>
          <%= text_field_tag :subject, @request ? @request.subject : "", class: 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= label_tag :body, t(:body) %>
          <%= text_area_tag :body, @request ? @request.body : "", class: 'form-control', :required => true, rows: "8" %>
        </div>

        <div class="form-group fax">
          <%= label_tag :fax, "Fax *" %> 
          <input type="text" id="fax" name="fax" value="" class="form-control", tabindex="-1", autocomplete="nope">
        </div>

        <p>
          <%= submit_tag "Submit", class: "btn btn-primary no-radius" %>
          <%= link_to "Cancel", root_path, id: "cancel" %>
        </p>

      <% end %>      

    </div>
  </div>
</div>
