<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2">
      <div class="entries-top-margin"><%= link_to "Go to sources", "/sources" %></div>
      <h2>Edit</h2>
      <hr />

        <%= form_tag "/source/#{@source.id}", method: :patch do %>
          <p><%= text_field_tag :author, @source.author, class: 'form-control' %></p>
          <p><%= text_area_tag :reference, @source.reference, class: 'form-control', rows: "7" %></p>
          <p><%= submit_tag "Save Source", class: "btn btn-success no-radius" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
