<% content_for :meta_title, "Sources | OEDoS" %>
<% content_for :meta_description, "Browse through the list of all sources used to construct this dictionary" %>

<div class="container">
  <div class="row end-pad">
    <div class="font col-md-7 col-md-offset-2 <%= 'header-indent' if admin_signed_in? %>">
      <div>
        <%= link_to_if(admin_signed_in?, "Add Source", "/source/new", class: "btn btn-success no-radius entries-top-margin") do end %>
      </div>
      <h2 class="page-header">Sources</h2>
    </div>   


    <div class="font col-md-7 col-md-offset-2">
      <% @sources.each do |source| %>
        
        <div class="flexbox">     
          <% if admin_signed_in? %>
            <div class="col">
              <%= link_to "Edit", "/source/#{source.id}/edit", class: "btn btn-default no-radius" %>
            </div>
          <% end %>

          <div class="col">
            <%= formatted(sanitize source.author) %>

            <% if source.article.present? %>
              "<%= sanitize source.article %>"<%= article_period?(source.article, source.other) %>
            <% end %>

            <%= sanitize source.other %>

            <span class="<%= source_styles('book', source.book) %>"><%= sanitize source.book %></span><%= add_period?(source.book) %>

            <span class="<%= source_styles('journal', source.journal) %>"><%= sanitize source.journal %></span><%= add_period?(source.journal) %>

            <%= formatted(sanitize source.printing)%>
            <%= formatted(sanitize source.year) %>

            <span class="<%= source_styles('website', source.website) %>"><%= sanitize source.website %></span><%= add_period?(source.website) %>
          </div>
        </div> 

      <% end %>
    </div>
  </div>
</div>