<%= form_tag "/sources", method: :post do %>
  <div class="container-fluid entries-top-margin end-pad">
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <%= link_to "Back to sources", "/sources" %>
        <h3>Edit Source</h3>
        <hr />
        <div class="well sm-font">
          Display order of entry is as follows: Author > Article > Other > Book > Journal > Printing
        </div>

        <div class="col-md-5">
          <div class="row">          
            <div class="form-group">
              <%= label_tag "Author" %>
              <%= text_area_tag :author, @source ? @source.author : '', class: 'form-control', rows: "1" %>
            </div>
          
            <div class="form-group">
              <%= label_tag "Article" %>
              <%= text_area_tag :article, @source ? @source.article : '', class: 'form-control', rows: "1" %>
            </div>
          
            <div class="form-group">
              <%= label_tag "Other - non-formatted text (e.g. 'editorial in' or 'in')" %>
              <%= text_area_tag :other, @source ? @source.other : '', class: 'form-control', rows: "1" %>
            </div>
          
            <div class="form-group">
              <%= label_tag "Book" %>
              <%= text_area_tag :book, @source ? @source.book : '', class: 'form-control', rows: "1" %>
            </div>
          </div>
        </div>
          
        <div class="col-md-offset-1 col-md-5">
          <div class="row">        
            <div class="form-group">
              <%= label_tag "Journal" %>
              <%= text_area_tag :journal, @source ? @source.journal : '', class: 'form-control', rows: "1" %>
            </div>
          
            <div class="form-group">
              <%= label_tag "Printing" %>
              <%= text_area_tag :printing, @source ? @source.printing : '', class: 'form-control', rows: "1" %>
            </div>
          
            <div class="form-group">
              <%= label_tag "Year" %>
              <%= text_area_tag :year, @source ? @source.year : '', class: 'form-control', rows: "1" %>
            </div>
          
            <div class="form-group">
              <%= label_tag "Website" %>
              <%= text_area_tag :website, @source ? @source.website : '', class: 'form-control', rows: "1" %>
            </div>
          </div>
        </div>
        
        <p>
          <%= submit_tag "Create Source", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %>         
        </p>
        <div><%= link_to "Back to sources", "/sources" %></div>

      </div>
    </div>
  </div>
<% end %>
