<div class="container-fluid regular-margin-top">
  
  <%= render "/shared/general/mobile_alphabet" %>

  <div class="row">
    <div class="text-center">
      <%= paginate @terms %>
    </div>
  </div>

  <div class="row mobile-margin-top bottom-margin">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped table-hover">
        <% @terms.each do |term| %>
          <tr>
            <td class="content-margin">

              <% if admin_signed_in? %>
                <p>
                  <a class="btn btn-default no-radius" href="/term/<%= term.slug %>/edit">Edit</a>
                </p>
              <% end %>

              <!-- Name, Gender, Prefix/suffix, Part of speech, Definition -->
              <div>
                <strong><a href="/term/<%= term.slug %>"><%= term.name %></a></strong>

                <% term.ordered_attributes[1..3].each do |attr| %>
                  <%= attr %>
                <% end %>

                <%= sanitize term.definition, tags: %w(b em a u i sup sub p div br, span), attributes: %w(href) %>
              </div>

              <!-- Etymology1 & 2 and Uses -->
              <div>
                <% term.ordered_attributes[5..6].each do |attr| %>
                  <% if attr.present? %>
                    <%= sanitize(attr, tags: %w(b em a u i sup sub p div br span), attributes: %w(href)) %>
                  <% end %>
                <% end %>
              </div>

              <% if term.uses.present? %>
                <div class="bottom-margin-sm">
                  <%= sanitize term.uses, tags: %w(b em a u i sup sub p div br span), attributes: %w(href) %>
                </div>
              <% end %>

              <!-- Variants, Romance, Italic, Etruscan, Celtic, Germanic, Balto-Slavic, Albanian, Hellenic, Armenian, Indo-Iranian, Semitic, Uralic, Northeast Caucasian Cognates -->
              <% term.labels_and_cognates.each do | label, cognate | %>
                <% if cognate.present? %>
                  
                  <div class="p-indent">
                    <strong class="underline"><%= label %>:</strong>
                    <span><%= sanitize(cognate, tags: %w(b em a u i sup sub p div br, span), attributes: %w(href)) %></span>
                  </div>

                <% end %>
              <% end %>

              <!-- Notes 1 & 2 -->
              <% term.ordered_attributes[23..24].each do |attr| %>
                <% if attr.present? %>
                  <div>
                    <%= sanitize(attr, tags: %w(b em a u i sup sub p div br, span), attributes: %w(href)) %>
                  </div>
                <% end %>
              <% end %>
              
              <% if term.sources && term.sources.first %>
                <div class="entry-footer text-muted">
                  <small>
                    <% term.sources.order(sorted_sources_sql).each do |source| %>
                      <div class="footer-citation">
                        <%= formatted(sanitize source.author) %>

                        <% if source.article.present? %>
                          "<%= sanitize source.article %>"<%= article_period?(source.article, source.other) %>
                        <% end %>

                        <%= sanitize source.other %>

                        <span class="<%= source_styles('book', source.book) %>"><%= sanitize source.book %></span><%= add_period?(source.book) %>

                        <span class="<%= source_styles('journal', source.journal) %>"><%= sanitize source.journal %></span><%= add_period?(source.journal) %>

                        <%= formatted(sanitize source.printing)%>
                        <%= formatted(sanitize source.year) %>

                        <span class="<%= source_styles('website', source.website) %>"><%= sanitize source.website %></span><%= add_period?(source.website) %>
                      </div>
                    <% end %>
                  </small>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="row" id="tab-pad">
        <div class="text-center">
          <%= paginate @terms %>
        </div>
      </div>

    </div>
  </div>
</div>


