<%= form_for @term do |f| %>
  <section class="container-fluid entries-top-margin end-pad">
    <div class="col-lg-offset-1 col-lg-10">
      <div><%= link_to "Back to entry", term_path(@term) %></div>
      <h2>Edit Entry</h2>
      <hr />
        <p>
          <%= f.submit "Save Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %>

          <span class="pull-right"><%= link_to "Delete Term", term_path(@term), method: :delete, data: { :confirm => "Do you wish to permanently delete this entry?" }, class: "btn btn-danger no-radius" %></span>
        </p>
    </div>

    <section class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <!-- Name, Prefix/Suffic, Gender, Part of Speech -->
        <% f.object.attributes.to_a[3..6].each do |field, value| %>
          <div class="form-group col-lg-6">
            <%= f.label t(field) %>
            <%= f.text_field field, class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <div class="equal-height-flex">
          <% f.object.attributes.to_a[7..46].each do |field, value| %>
            <div class="two-col">
              <%= f.label field, t(field)  %>
              <%= f.text_area field, class: 'form-control', rows: text_area_height(value) %>
            </div>
          <% end %>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-offset-1 col-lg-10 plr-30">
        <p><strong>Citations</strong> <small>(uncheck box and press save to remove citation from term)</small></p>
        
        <ul class="pl-10">
          <%= f.fields_for :citations do |ff| %>
            <li>
              <%= ff.check_box :_destroy, {:checked => ff.object.persisted?}, '0', '1' %>
              <%= ff.label :_destroy, ff.object.source.build_source, class: 'normal-weight' %>
              <%= ff.hidden_field :source_id %>
            </li>
          <% end %>
        </ul>

      </div>
    </section>

    <section class="row">
      <div class="col-lg-offset-1 col-lg-10 plr-30 mb-15">
        <%= f.label :add_sources, t(:add_sources) %>
        <%= f.collection_select(:source_ids, @remaining_sources, :id, :build_source, {selected: nil}, {:multiple => true, class: 'form-control', size: '10'}) %>
      </div>
    </section>

    <div class="col-lg-offset-1 col-lg-10">
      <p><%= f.submit "Save Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %></p>
    </div> 
  </section>
<% end %>


