<div class="container-fluid entries-top-margin end-pad">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="row">
      <%= link_to "Back to entry", "/term/#{@term.slug}" %>
      <h1>Edit Entry</h1>

      <hr />

      <%= form_tag "/term/#{@term.slug}", method: :patch do %>
        <%= hidden_field_tag :id, @term.id %>
        <p><%= submit_tag "Save Term", class: "btn btn-success no-radius" %></p>

        <br />

        <div class="form-group col-lg-12">
          <strong>Slug (url):</strong> <%= @term.slug %>
        </div>
    </div>
  </div>

  <div class="col-lg-offset-1 col-lg-5">
    <div class="row">

      <% @term.attributes.to_a[2..5].each do |name, value| %>
        <div class="form-group col-lg-6">
          <%= label_tag name, t(name)  %>
          <%= text_field_tag name, value, class: 'form-control' %>
        </div>
      <% end %>

      <div class="form-group col-lg-12">
        <%= label_tag :definition %>
        <%= text_area_tag :definition, @term.definition, class: 'form-control', rows: "2" %>
      </div>
      <div class="form-group col-lg-12">
        <%= label_tag "Etymology 1" %>
        <%= text_area_tag :etymology1, @term.etymology1, class: 'form-control', rows: "4" %>
      </div>

      <% @term.attributes.to_a[8..10].each do |name, value| %>
        <div class="form-group col-lg-12">
          <%= label_tag name, t(name) %>
          <%= text_area_tag name, value, class: 'form-control', rows: "1" %>
        </div>
      <% end %>

      <div class="form-group col-lg-12">
        <%= label_tag "Romance Cognates" %>
        <%= text_area_tag :romance_cognates, @term.romance_cognates, class: 'form-control', rows: "4" %>
      </div>

      <% @term.attributes.to_a[12..14].each do |name, value| %>
        <div class="form-group col-lg-12">
          <%= label_tag name, t(name) %>
          <%= text_area_tag name, value, class: 'form-control', rows: "1" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="row">
        <% @term.attributes.to_a[15..21].each do |name, value| %>
          <div class="form-group col-lg-12">
            <%= label_tag name, t(name) %>
            <%= text_area_tag name, value, class: 'form-control line-height', rows: "1" %>
          </div>
        <% end %>
        <% @term.attributes.to_a[29..30].each do |name, value| %>
          <div class="form-group col-lg-12">
            <%= label_tag name, t(name) %>
            <%= text_area_tag name, value, class: 'form-control', rows: "1" %>
          </div>
        <% end %>
        <% @term.attributes.to_a[22..24].each do |name, value| %>
          <div class="form-group col-lg-12">
            <%= label_tag name, t(name) %>
            <%= text_area_tag name, value, class: 'form-control', rows: "1" %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="col-lg-offset-1 col-lg-10">
    <div class="row">
        <p><%= submit_tag "Save Term", class: "btn btn-success no-radius" %></p>
      <% end %>
      <p><%= link_to "Back to entry", "/term/#{@term.slug}"%></p>
    </div>
  </div>
</div>
