<%= form_tag "/term/#{@term.slug}", method: :patch do %>
  <%= hidden_field_tag :slug, @term.slug %>
  <div class="container-fluid entries-top-margin end-pad">
    <div class="col-lg-offset-1 col-lg-10">
      <div class="row">
        <div><%= link_to "Back to entry", "/term/#{@term.slug}" %></div>
        <h2>Edit Entry</h2>
        <hr />
          <p>
            <%= submit_tag "Save Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %>

            <span class="pull-right"><%= link_to "Delete Term", "/term/#{@term.slug}", method: :delete, data: { :confirm => "Do you wish to permanently delete this entry?" }, class: "btn btn-danger no-radius" %></span>
          </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <% @term.attributes.to_a[3..6].each do |label, value| %>
          <div class="form-group col-lg-6">
            <%= label_tag label, t(label)  %>
            <%= text_field_tag label, value, class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <div class="equal-height-flex">
          <% @term.attributes.to_a[7..46].each do |label, value| %>
            <!-- <div class="form-group col-lg-6"> -->
              <div class="two-col">
                <%= label_tag label, t(label)  %>
                <% if value.present? %>
                  <%= text_area_tag label, value, class: 'form-control aa', rows: "4" %>
                <% else %>
                  <%= text_area_tag label, value, class: 'form-control aa', rows: "1" %>
                <% end %>
              </div>
            <!-- </div> -->
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-10">
      <div class="row">
        <p><%= submit_tag "Save Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %></p>

        <div><%= link_to "Back to entry", "/term/#{@term.slug}"%></div>
      </div>
    </div>
  </div>
<% end %>
