<!-- Validation failure messages -->
<% if @term.errors.any? %>
  <% @term.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Term #<%= @term.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_term/<%= @term.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @term.name %>">
      </div>

      <!-- Label and input for gender -->
      <div class="form-group">
        <label for="gender" class="control-label">
          Gender
        </label>

        <input type="text" id="gender" name="gender" placeholder="Gender" class="form-control" value="<%= @term.gender %>">
      </div>

      <!-- Label and input for part_of_speech -->
      <div class="form-group">
        <label for="part_of_speech" class="control-label">
          Part of speech
        </label>

        <textarea id="part_of_speech" name="part_of_speech" placeholder="Part of speech" class="form-control" rows="3"><%= @term.part_of_speech %></textarea>
      </div>

      <!-- Label and input for definition -->
      <div class="form-group">
        <label for="definition" class="control-label">
          Definition
        </label>

        <textarea id="definition" name="definition" placeholder="Definition" class="form-control" rows="3"><%= @term.definition %></textarea>
      </div>

      <!-- Label and input for etymology1 -->
      <div class="form-group">
        <label for="etymology1" class="control-label">
          Etymology1
        </label>

        <textarea id="etymology1" name="etymology1" placeholder="Etymology1" class="form-control" rows="3"><%= @term.etymology1 %></textarea>
      </div>

      <!-- Label and input for etymology2 -->
      <div class="form-group">
        <label for="etymology2" class="control-label">
          Etymology2
        </label>

        <textarea id="etymology2" name="etymology2" placeholder="Etymology2" class="form-control" rows="3"><%= @term.etymology2 %></textarea>
      </div>

      <!-- Label and input for uses -->
      <div class="form-group">
        <label for="uses" class="control-label">
          Uses
        </label>

        <textarea id="uses" name="uses" placeholder="Uses" class="form-control" rows="3"><%= @term.uses %></textarea>
      </div>

      <!-- Label and input for romance_cognates -->
      <div class="form-group">
        <label for="romance_cognates" class="control-label">
          Romance cognates
        </label>

        <textarea id="romance_cognates" name="romance_cognates" placeholder="Romance cognates" class="form-control" rows="3"><%= @term.romance_cognates %></textarea>
      </div>

      <!-- Label and input for notes1 -->
      <div class="form-group">
        <label for="notes1" class="control-label">
          Notes1
        </label>

        <textarea id="notes1" name="notes1" placeholder="Notes1" class="form-control" rows="3"><%= @term.notes1 %></textarea>
      </div>

      <!-- Label and input for notes2 -->
      <div class="form-group">
        <label for="notes2" class="control-label">
          Notes2
        </label>

        <textarea id="notes2" name="notes2" placeholder="Notes2" class="form-control" rows="3"><%= @term.notes2 %></textarea>
      </div>

      <!-- Label and input for quote1 -->
      <div class="form-group">
        <label for="quote1" class="control-label">
          Quote1
        </label>

        <textarea id="quote1" name="quote1" placeholder="Quote1" class="form-control" rows="3"><%= @term.quote1 %></textarea>
      </div>

      <!-- Label and input for quote2 -->
      <div class="form-group">
        <label for="quote2" class="control-label">
          Quote2
        </label>

        <textarea id="quote2" name="quote2" placeholder="Quote2" class="form-control" rows="3"><%= @term.quote2 %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Term
      </button>
      or
      <a href="/terms/<%= @term.id %>">Cancel</a>
    </form>
  </div>
</div>
