<div class="container-fluid">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h3 class="text-center">Word of the Day</h3>
      </div>
      <table class="table table-striped">
        <dl>
          <tr>
            <td>
              <b><a href="/term/<%= @term.name %>"><%= @term.name %></a></b>
              <%= @term.gender %>
              <%= @term.p_s %>
              <%= @term.part_of_speech.try(:html_safe) %>
              <%= @term.definition.try(:html_safe) %>
              <p></p>
              <%= @term.etymology1.try(:html_safe) %>
              <%= @term.etymology2.try(:html_safe) %>
              <%= @term.uses.try(:html_safe) %>
              <p></p>
              <%= @term.notes1.try(:html_safe) %>
              <p></p>
              <%= @term.notes2.try(:html_safe) %>
            </td>
          </tr>
        </dl>
      </table>

      <div class="dropdown mobile-hidden" id="m-alpha-pad">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Browse by letter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="mobile-alphabet" aria-labelledby="dropdownMenu1">
          <% ('A' .. 'C').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ch">CH</a></li>
          <% ('D' .. 'L').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ll">LL</a></li>
          <li id="mobile-alphabet"><a href="/directory/m">M</a></li>
          <li id="mobile-alphabet"><a href="/directory/n">N</a></li>
          <li id="mobile-alphabet"><a href="/directory/ñ">Ñ</a></li>
          <% ('O' .. 'Z').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="background">
        <div class="page-header">
          <h3 class="text-center">Background</h3>
          <button class="expand btn btn-default">Read More</button>
        </div>
        <p class="exempt">
        Proto-Indo-European (PIE) is the hypothetical ancestor of Spanish, as well as the ancestor to many other Indo-European languages such as English. The ancestor of Proto-Indo-European was pre-Proto-Indo-European, though very little of this forebear can be ascertained.
        </p>
        <p class="exempt">
        There are two main stages to Proto-Indo-European, early and late. Early Proto-Indo-European was probably last spoken roughly 7,500 years ago. That is, 5500 BCE. This is the period when Proto-Indo-European was a single language phylum with no known relatives.
        </p>
        <p class="exempt">
        After 5500 BCE, Proto-Indo-European experienced its first split. A branch called the Anatolian language family separated from the main Indo-European stock and one language became two: Proto-Anatolian and Late Proto-Indo-European. Late Proto-Indo-European was probably last spoken 5,500 years ago in 3500 BCE. Of Late Proto-Indo-European, also called Core Indo-European in this dictionary, very much can be reconstructed in detail.
        </p>
        <p>
        A later stage, though little discussed in this dictionary, is called Nuclear Proto-Indo-European. It is a very late stage in the development of Proto-Indo-European representing the period after the Tocharian departure but before the great split of Proto-Indo-European into various language branches. Nuclear Proto-Indo-European, whenever it was spoken, was unlikely to have lasted long.
        </p>
        <p>
        After Proto-Indo-European, the language family splits into many branches. One such branch was Proto-Italic (PIt), a language stock that migrated from Central Europe to north of modern-day Italy. Proto-Italic evolved into many languages, but the only “famous” descendant was Latin.
        </p>
        <p>
        Old Latin was a single language but it evolved into two dialects used by of upper and lower classes. To the elites was Classical Latin; to the common folk was Vulgar Latin. All modern Romance languages spring from Vulgar Latin. Classical Latin survived in ecclesiastical, scholastic and political affairs but not as anyone’s native tongue.
        </p>
        <p>
        Vulgar Latin is divided into three major branches: Western Vulgar Latin, Eastern Vulgar Latin, and Sardinian. Among them, Sardinian separated from the others first. Western and Eastern Vulgar Latin split between each other sometime after.
        </p>
        <p>
        In Iberia, the far western reach of the Roman Empire, Western Vulgar Latin evolved along its own path. The Iberian dialect or dialects (no one can truly say how many there were) evolved over a period of two thousand years into the Iberian languages of today: Spanish, Portuguese, Galician, Asturian, and many others.
        </p>
        <p>
        * Many words are reconstructed by linguists and are not directly attested in writing. For these hypothetical reconstructions, an asterisk is placed before the word to notify the reader.
        </p>
        <p>
        ** In some rare cases, a putative reconstruction is in error or the word is otherwise <i>not</i> what we would expect. In these reconstructions, a double asterisk is added to warn the reader.
        </p>
        <p>
        Spanish is a tongue where many words have been borrowed by men and women of letters from Latin, as opposed to naturally inheriting the word from Vulgar Latin. These words are often easily identified by their conservative phonology and meanings. For example, Latin <i>fabula</i> “talk,” “rumor” naturally evolved into Spanish <i>habla</i> ‘id.’ We see in <i>habla</i> a natural progression of sound changes: Latin /f/ became Old Spanish /h/ and disappeared in Modern Spanish. During the Medieval Period, however, learned men re-introduced <i>fabula</i> into Spanish as <i>fábula</i>. So we may say that <i>fábula</i> is a learned borrowing from Latin <i>fabula</i> while <i>habla</i> is a native word.
        </p>
        <p>
        On occasion, a pre-form to a word or reconstruction must be discussed. A pre-form is a reconstruction that is dated to an intermediate stage between period. A pre-form to modern Spanish would be <i>after</i> Latin. A pre-form to Latin would be a word dated after Proto-Italic (but before Latin).
      </div>

    </div>
  </div>
</div>
