<div class="container-fluid">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h3 class="text-center">Word of the Day</h3>
      </div>
      <table class="table table-striped">
        <dl>
          <tr>
            <td>
              <b><a href="/term/<%= @term.name %>"><%= @term.name %></a></b>
              <%= @term.gender %>
              <%= @term.p_s %>
              <%= @term.part_of_speech.try(:html_safe) %>
              <%= @term.definition.try(:html_safe) %>
              <%= @term.etymology1.try(:html_safe) %>
              <%= @term.etymology2.try(:html_safe) %>
              <%= @term.uses.try(:html_safe) %>
              <p></p>
              <%= @term.notes1.try(:html_safe) %>
              <p></p>
              <%= @term.notes2.try(:html_safe) %>
            </td>
          </tr>
        </dl>
      </table>
      <div class="dropdown mobile-hidden" id="m-alpha-pad">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Browse by letter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="mobile-alphabet" aria-labelledby="dropdownMenu1">
          <% ('A' .. 'C').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ch">CH</a></li>
          <% ('D' .. 'L').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ll">LL</a></li>
          <li id="mobile-alphabet"><a href="/directory/m">M</a></li>
          <li id="mobile-alphabet"><a href="/directory/n">N</a></li>
          <li id="mobile-alphabet"><a href="/directory/ñ">Ñ</a></li>
          <% ('O' .. 'Z').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
        </ul>
      </div>
<!--       <div id="m-alph-pad">
        <table class="table table-striped" id="m-table">
          <dl>
            <tr>
              <td>
                <div id="alphabet-mobile">
                  <ul>
                    <!% ('A' .. 'C').each do |alphabet| %>
                    <li><a href="/directory/<!%= alphabet.downcase %>"><!%= alphabet %></a></li>
                    <!% end %>
                    <li><a href="/directory/ch">CH</a></li>
                    <!% ('D' .. 'L').each do |alphabet| %>
                    <li><a href="/directory/<!%= alphabet.downcase %>"><!%= alphabet %></a></li>
                    <!% end %>
                    <li><a href="/directory/ll">LL</a></li>
                    <li><a href="/directory/m">M</a></li>
                    <li><a href="/directory/n">N</a></li>
                    <li><a href="/directory/ñ">Ñ</a></li>
                    <!% ('O' .. 'Z').each do |alphabet| %>
                    <li><a href="/directory/<!%= alphabet.downcase %>"><!%= alphabet %></a></li>
                    <!% end %>
                  </ul>
                </div>
              </td>
            </tr>
          </dl>
        </table>
      </div> -->
    </div>
  </div>
</div>
