<div class="container-fluid">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h3 class="text-center">Word of the Day</h3>
      </div>
      <table class="table table-striped">
        <dl>
          <tr>
            <td>
              <b><a href="/term/<%= @term.slug %>"><%= @term.name %></a></b>
              <%= @term.gender %>
              <%= @term.p_s %>
              <%= @term.part_of_speech %>
              <%= sanitize @term.definition %>
              <p></p>
              <%= sanitize @term.etymology1 %>
              <%= sanitize @term.etymology2 %>
              <%= sanitize @term.uses %>
              <p></p>
              <%= sanitize @term.notes1, tags: %w(u) %>
              <p></p>
              <%= sanitize @term.notes2, tags: %w(u) %>
            </td>
          </tr>
        </dl>
      </table>

      <div class="dropdown mobile-hidden" id="m-alpha-pad">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Browse by letter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="mobile-alphabet" aria-labelledby="dropdownMenu1">
          <% ('A' .. 'C').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ch">CH</a></li>
          <% ('D' .. 'L').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ll">LL</a></li>
          <li id="mobile-alphabet"><a href="/directory/m">M</a></li>
          <li id="mobile-alphabet"><a href="/directory/n">N</a></li>
          <li id="mobile-alphabet"><a href="/directory/ñ">Ñ</a></li>
          <% ('O' .. 'Z').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="font" id="tab-pad">
        <div class="page-header">
          <h3 class="text-center">Welcome</h3>
        </div>
        <p>
          Welcome to the Online Etymological Dictionary of Spanish (OEDoS), a free etymological dictionary of the Spanish language launched on August 6, 2016. An etymology is not a definition but a history of a word over time. This site provides an account of the development of the Spanish language as best as historical linguists are able to ascertain in a way that is accessible both by laymen and academics.
        </p>
        <p>
          If you enjoy using this dictionary, please consider donating to help keep this site alive.
        </p>
        <p>
          <div class="text-center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="SR4N8SASKHHBY">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
