<div class="container-fluid">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h3 class="text-center">Word of the Day</h3>
      </div>
      <table class="table table-striped">
        <dl>
          <tr>
            <td>
              <b><a href="/term/<%= @term.slug %>"><%= @term.name %></a></b>
              <%= @term.gender %>
              <%= @term.p_s %>
              <%= @term.part_of_speech %>
              <%= sanitize @term.definition, tags: %w(b em a u i sup sub p), attributes: %w(href) %>

              <% if @term.etymology1.present? %>
                <p></p>
                <%= sanitize @term.etymology1, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
              <% end %>

              <%= sanitize @term.etymology2, tags: %w(b em a u i sup sub p), attributes: %w(href) %>

              <% if @term.uses.present? %>
                <p></p>
                <%= sanitize @term.uses, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
              <% end %>

              <% if @term.variants.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Dialect Variants:</u></b>
                  <%= sanitize @term.variants, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.romance_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Romance:</u></b>
                  <%= sanitize @term.romance_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.italic_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Italic:</u></b>
                  <%= sanitize @term.italic_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.etruscan.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Etruscan:</u></b>
                  <%= sanitize @term.etruscan, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.celtic_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Celtic:</u></b>
                  <%= sanitize @term.celtic_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.germanic_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Germanic:</u></b>
                  <%= sanitize @term.germanic_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.baltoslavic_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Balto-Slavic:</u></b>
                  <%= sanitize @term.baltoslavic_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.albanian_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Albanian:</u></b>
                  <%= sanitize @term.albanian_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.hellenic_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Hellenic:</u></b>
                  <%= sanitize @term.hellenic_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.armenian_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Armenian:</u></b>
                  <%= sanitize @term.armenian_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.indoiranian_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Indo-Iranian:</u></b>
                  <%= sanitize @term.indoiranian_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.semitic.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Semitic:</u></b>
                  <%= sanitize @term.semitic, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.ie_cognates.present? %>
                <p></p>
                <div class="p-indent">
                  <b><u>Indo-European:</u></b>
                <%= sanitize @term.ie_cognates, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
                </div>
              <% end %>

              <% if @term.notes1.present? %>
                <p></p>
                <%= sanitize @term.notes1, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
              <% end %>

              <% if @term.notes2.present? %>
                <p></p>
                <%= sanitize @term.notes2, tags: %w(b em a u i sup sub p), attributes: %w(href) %>
              <% end %>
            </td>
          </tr>
        </dl>
      </table>

      <div class="dropdown mobile-hidden" id="m-alpha-pad">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Browse by letter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="mobile-alphabet" aria-labelledby="dropdownMenu1">
          <% ('A' .. 'C').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ch">CH</a></li>
          <% ('D' .. 'L').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ll">LL</a></li>
          <li id="mobile-alphabet"><a href="/directory/m">M</a></li>
          <li id="mobile-alphabet"><a href="/directory/n">N</a></li>
          <li id="mobile-alphabet"><a href="/directory/ñ">Ñ</a></li>
          <% ('O' .. 'Z').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="font">
        <div class="page-header">
          <h4 class="text-center"><b>1/10/17 - Update</b></h4>
        </div>
        <p>
          Big update today! We've been quite busy these last few months, but we want to wish you all a happy New Year. We've kept very busy these past few months. Today we are excited to announce that the etymologies of surnames, first names, towns, and other toponyms will be added to the Dictionary. Already-existing entries have been edited to include this information.
        </p>
      </div>

      <div class="font">
        <div class="page-header">
          <h4 class="text-center"><b>8/11/16 - Update</b></h4>
        </div>
        <p>
          Huge update today. We have added dialect variants and Romance, Italic, Celtic, Germanic, Balto-Slavic, Albanian, Hellenic, Armenian, and Indo-Iranian Cognates as well as lexical material in Tyrrhenian and Afro-Asiatic languages when relevant to thousands of entries.
        </p>
        <p>
          We've also created a new <%= link_to "Facebook", "https://www.facebook.com/SpanishEtym-OEDoS-1721537891443952/", :target => "_blank" %> page, so follow us to receive updates, news, and other notifications.
        </p>
      </div>

      <div class="font">
        <div class="page-header">
          <h4 class="text-center"><b>8/8/16 - Update</b></h4>
        </div>
        <p>
          We've received requests for additional words, so we have added 23 new ones today! Thank you to everyone for the feedback. We will add additional entries periodically, but in the meantime, please feel free to submit more requests via our <%= link_to "Contact", contact_path %> form.
        </p>
      </div>

      <div class="font" id="tab-pad">
        <div class="page-header">
          <h3 class="text-center">Welcome</h3>
        </div>
        <p>
          Welcome to the Online Etymological Dictionary of Spanish (OEDoS), a free etymological dictionary of the Spanish language launched on August 6, 2016. An etymology is not a definition but a history of a word over time. This site provides an account of the development of the Spanish language as best as historical linguists are able to ascertain in a way that is accessible both by laymen and academics.
        </p>
        <p>
          If you enjoy using this dictionary, please consider donating to help keep this site alive.
        </p>
        <p>
          <div class="text-center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="SR4N8SASKHHBY">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
