<div class="container-fluid">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h3 class="text-center">Word of the Day</h3>
      </div>
      <table class="table table-striped">
        <dl>
          <tr>
            <td>
              <b><a href="/term/<%= @term.slug %>"><%= @term.name %></a></b>
              <%= @term.gender %>
              <%= @term.p_s %>
              <%= @term.part_of_speech.try(:html_safe) %>
              <%= @term.definition.try(:html_safe) %>
              <p></p>
              <%= @term.etymology1.try(:html_safe) %>
              <%= @term.etymology2.try(:html_safe) %>
              <%= @term.uses.try(:html_safe) %>
              <p></p>
              <%= @term.notes1.try(:html_safe) %>
              <p></p>
              <%= @term.notes2.try(:html_safe) %>
            </td>
          </tr>
        </dl>
      </table>

      <div class="dropdown mobile-hidden" id="m-alpha-pad">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Browse by letter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="mobile-alphabet" aria-labelledby="dropdownMenu1">
          <% ('A' .. 'C').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ch">CH</a></li>
          <% ('D' .. 'L').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
          <li id="mobile-alphabet"><a href="/directory/ll">LL</a></li>
          <li id="mobile-alphabet"><a href="/directory/m">M</a></li>
          <li id="mobile-alphabet"><a href="/directory/n">N</a></li>
          <li id="mobile-alphabet"><a href="/directory/ñ">Ñ</a></li>
          <% ('O' .. 'Z').each do |alphabet| %>
          <li id="mobile-alphabet"><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="font" id="tab-pad">
        <div class="page-header">
          <h3 class="text-center">Welcome</h3>
        </div>
        <p>
          Welcome to the Online Etymological Dictionary of Spanish (OEDoS), a free etymological dictionary of the Spanish language launched on July 8, 2016. An etymology is not a definition but a history of a word over time. This site provides an account of the development of the Spanish language as best as historical linguists are able to ascertain in a way that is accessible both by laymen and academics.
        </p>
        <p>
          If you enjoy using this dictionary, please consider donating to help keep this site alive.
        </p>
      </div>
    </div>
  </div>
</div>
