<%= form_tag "/term", method: :post do %>
  <div class="container-fluid entries-top-margin end-pad">
    <div class="col-lg-offset-1 col-lg-10">
      <div class="row">
        <div><%= link_to "Cancel", root_path %></div>
        <h2>New Entry</h2>

        <hr />

        <p><%= submit_tag "Create Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <!-- Name, Prefix/Suffic, Gender, Part of Speech -->
        <% @term.attributes.to_a[3..6].each do |label, value| %>
          <div class="form-group col-lg-6">
            <%= label_tag label, t(label)  %>
            <%= text_field_tag label, value, class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <div class="equal-height-flex">
          <% @term.attributes.to_a[7..46].each do |label, value| %>
              <div class="two-col">
                <%= label_tag label, t(label)  %>
                <%= text_area_tag label, value, class: 'form-control', rows: '4' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-offset-1 col-lg-10">
      <div class="row">
        <p><%= submit_tag "Create Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %></p>
        
        <div><%= link_to "Cancel", root_path %></div>
      </div>
    </div>
  </div>
<% end %>
