<%= form_for @term do |f| %>
  <section class="container-fluid entries-top-margin end-pad">
    <div class="col-lg-offset-1 col-lg-10">
      <div><%= link_to "Cancel", root_path %></div>
      <h2>New Entry</h2>

      <hr/>

      <p><%= submit_tag "Create Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %></p>
    </div>

    <section class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <!-- Name, Prefix/Suffic, Gender, Part of Speech -->
        <% f.object.attributes.to_a[3..6].each do |field, value| %>
          <div class="form-group col-lg-6">
            <%= f.label t(field) %>
            <%= f.text_field field, class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <div class="equal-height-flex">
          <% f.object.attributes.to_a[7..46].each do |field, value| %>
            <div class="two-col">
              <%= f.label field, t(field)  %>
              <%= f.text_area field, class: 'form-control', rows: "4" %>
            </div>
          <% end %>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-offset-1 col-lg-10 plr-30 mb-15">
        <%= f.label :add_sources, t(:add_sources) %>
        <%= f.collection_select(:source_ids, @sources, :id, :build_source, {selected: nil}, {:multiple => true, class: 'form-control', size: '10'}) %>
      </div>
    </section>

    <div class="col-lg-offset-1 col-lg-10">
      <p><%= submit_tag "Create Term", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %></p>
        
      <div><%= link_to "Cancel", root_path %></div>
    </div> 
  </section>
<% end %>