<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <%= paginate @terms %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped table-hover">
        <% @terms.each do |term| %>
        <dl>
          <tr>
            <td>
              <b><a href="/term/<%= term.slug %>"><%= sanitize term.try(:highlight).try(:name) ? term.highlight.name[0] : term.name %></a></b>
              <%= term.gender %>
              <%= term.p_s %>
              <%= term.part_of_speech %>
              <%= sanitize term.try(:highlight).try(:definition) ? term.highlight.definition[0] : term.definition %>
              <p></p>
              <%= sanitize term.try(:highlight).try(:etymology1) ? term.highlight.etymology1[0] : term.etymology1 %>
              <%= sanitize term.try(:highlight).try(:etymology2) ? term.highlight.etymology2[0] : term.etymology2%>
              <%= sanitize term.try(:highlight).try(:uses) ? term.highlight.uses[0] : term.uses %>
              <p></p>
              <%= sanitize term.try(:highlight).try(:notes1) ? term.highlight.notes1[0] : term.notes1 %>
              <p></p>
              <%= sanitize term.try(:highlight).try(:notes2) ? term.highlight.notes2[0] : term.notes2 %>
            </td>
          </tr>
        </dl>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="text-center kaminari-font">
      <%= paginate @terms %>
    </div>
    <div class="text-center end-pad">
      <p><%= page_entries_info(@terms, :entry_name => 'results') %></p>
    </div>
  </div>
</div>
