<div class="container-fluid">

  <%= render "/shared/general/mobile_alphabet" %>

  <% if @hit %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well entries-top-margin">
          Note: results are returned based on order of importance. The top two are <span class="italic">name</span> and <span class="italic">definition</span>.
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= paginate @results %>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <table class="table table-striped table-hover">
          <% @results.each do |result| %>
            <tr>
              <td>
                <% if admin_signed_in? %>
                  <div><%= link_to "Edit", "term/#{result.slug}/edit", 
                        class: "btn btn-default no-radius" %></div>
                <% end %>
                
                <section class="mb-10">
                  <strong><a href="/term/<%= result.slug %>">                  
                    <%= sanitize search_response(result, 'name') %>
                  </a></strong>
      
                  <%= sanitize result.gender %>
                  <%= sanitize result.prefix_suffix %>
                  <%= sanitize result.part_of_speech %>
                  <%= sanitize search_response(result, 'definition') %>
                </section>

                <!-- Etymology 1 & 2 -->
                <% if etymology?(result) %>
                  <section class="mb-10">
                    <% Term.column_names[8..9].each do |col_name| %>
                      <%= sanitize search_response(result, col_name) %>
                    <% end %>
                  </section>
                <% end %>

                <% if result.uses.present? %>
                  <section class="mb-10">
                    <%= sanitize search_response(result, 'uses') %>
                  </section>
                <% end %>

                <% if result.variants.present? %>
                  <section class="ml-40">
                    <strong class="underline">Variants</strong>
                    <div class="mb-10 ml-24"><%= sanitize search_response(result, 'variants') %></div>
                  </section>
                <% end %>

                <% if ie_family?(result) %> 
                  <section class="ml-40 mb-10">
                    <section class="<%= family?(result.indo_european_cognates) %>">
                      <strong class="underline">Indo-European</strong>
                      <div class="ml-24"><%= sanitize search_response(result, 'indo_european_cognates') %></div>
                    </section>

                    <!-- Romance, Italic, Celtic, Germanic, Albanian, Balto-Slavic, Hellenic, Thracian, Phyrgian, Messapian, Armenian, Indo-Iranian, Tocharian, Anatolian -->
                    <% Term.column_names[13..26].each do |col_name| %>
                      <% if result['_source'][col_name].present? %>
                        <section class="ml-24">
                          <strong><%= t(col_name) %></strong>
                          <div class="ml-24"><%= sanitize search_response(result, col_name) %></div>
                        </section>
                      <% end  %>
                    <% end %>

                  </section>
                <% end %>

                <!-- Basque & Tyrsenian -->
                <% Term.column_names[27..28].each do |col_name| %>
                  <% if result['_source'][col_name].present? %>
                    <section class="ml-40 mb-10">
                      <strong class="underline"><%= t(col_name) %></strong>
                      <div class="ml-24"><%= sanitize search_response(result, col_name) %></div>
                    </section>
                  <% end %>
                <% end %>

                <% if uralic_family?(result) %>
                  <section class="ml-40 mb-10"">
                    <section class="<%= family?(result.uralic_cognates) %>">
                      <strong class="underline">Uralic</strong>
                      <div class="ml-24"><%= sanitize search_response(result, 'uralic_cognates') %></div>
                    </section>

                    <!-- Sami, Finnic, Mordvinic, Mari, Mansi, Khanty -->
                    <% Term.column_names[30..35].each do |col_name| %>
                      <% if result['_source'][col_name].present? %>
                        <section class="ml-24">
                          <strong><%= t(col_name) %></strong>
                          <div class="ml-24"><%= sanitize search_response(result, col_name) %></div>
                        </section>
                      <% end %>
                    <% end %>
            
                  </section>
                <% end %>

                <% if ne_caucasian_family?(result) %>
                  <section class="ml-40 mb-10">
                    <section class="<%= family?(result.northeast_caucasian_cognates) %>">
                      <strong class="underline">Northeast Caucasian</strong>
                      <div class="ml-24"><%= sanitize search_response(result, 'northeast_caucasian_cognates') %></div>
                    </section>

                    <!-- Nakh, Lezgic, Dargwa, Lak, Lezghian -->
                    <% Term.column_names[37..41].each do |col_name| %>
                      <% if result['_source'][col_name].present? %>
                        <section class="ml-24">
                          <strong><%= t(col_name) %></strong>
                          <div class="ml-24"><%= sanitize search_response(result, col_name) %></div>
                        </section>
                      <% end %>
                    <% end %>

                  </section>
                <% end %>

                <% if afro_asiatic_family?(result) %>
                  <section class="ml-40 mb-10">
                    <section class="<%= family?(result.afro_asiatic_cognates) %>">
                      <strong class="underline">Afro-Asiatic</strong>
                      <div class="ml-24"><%= sanitize search_response(result, 'afro_asiatic_cognates') %></div> 
                    </section>
                    
                    <!-- Egyptian, Semitic   -->
                    <% Term.column_names[43..44].each do |col_name| %>
                      <% if result['_source'][col_name].present? %>
                        <section class="ml-24">
                          <strong><%= t(col_name) %></strong>
                          <div class="ml-24"><%= sanitize search_response(result, col_name) %></div>
                        </section>
                      <% end %>
                    <% end %>

                  </section>
                <% end %>

                <!-- Notes 1 & 2 -->
                <% if result.notes1.present? || result.notes2.present? %>
                  <% Term.column_names[45..46].each do |col_name| %>
                    <div><%= sanitize search_response(result, col_name) %></div>
                  <% end %>
                <% end %>

              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="text-center">
      <%= paginate @results %>
    </div>
  <% end %>

  <div class="text-center end-pad <%= !@hit ? 'entries-top-margin' : '' %>" id="<%= !@hit ? 'no-results' : 'results' %>">
    <%= page_entries_info(@results, :entry_name => 'results') %>
  </div>

</div>
