<div class="page-header">
  <h3>Term #<%= @term.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @term.name %></dd>

      <dt>Gender</dt>
      <dd><%= @term.gender %></dd>

      <dt>Part of speech</dt>
      <dd><%= @term.part_of_speech %></dd>

      <dt>Definition</dt>
      <dd><%= @term.definition %></dd>

      <dt>Etymology1</dt>
      <dd><%= @term.etymology1 %></dd>

      <dt>Etymology2</dt>
      <dd><%= @term.etymology2 %></dd>

      <dt>Uses</dt>
      <dd><%= @term.uses %></dd>

      <dt>Romance cognates</dt>
      <dd><%= @term.romance_cognates %></dd>

      <dt>Notes1</dt>
      <dd><%= @term.notes1 %></dd>

      <dt>Notes2</dt>
      <dd><%= @term.notes2 %></dd>

      <dt>Quote1</dt>
      <dd><%= @term.quote1 %></dd>

      <dt>Quote2</dt>
      <dd><%= @term.quote2 %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/terms" class="btn btn-primary">
        Back
      </a>
      <a href="/terms/<%= @term.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_term/<%= @term.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
