<div class="container-fluid" id="show">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped table-hover">
        <dl>
          <tr>
            <td>
              <b><%= @term.name %></b>
              <%= @term.gender %>
              (<%= @term.part_of_speech %>)
              <%= @term.definition.html_safe %>
              <%= @term.etymology1.html_safe %>
              <%= @term.etymology2.html_safe %>
              <%= @term.uses.html_safe %>
              <p></p>
              <div class="indent"><u><b>Romance Cognates:</b></u> <%= @term.romance_cognates.html_safe %></div>
              <p></p>
              <%= @term.notes1.html_safe %>
              <%= @term.notes2.html_safe %>
              <%= @term.quote1.html_safe %>
              <%= @term.quote2.html_safe %>
            </td>
          </tr>
        </dl>
      </table>
    </div>
  </div>
</div>


