<div class="container-fluid" id="show">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <dl>
          <tr>
            <td>
              <b><%= @term.name %></b>
              <%= @term.gender %>
              <%= @term.p_s %>
              <%= @term.part_of_speech %>
              <%= sanitize @term.definition %>
              <p></p>
              <%= sanitize @term.etymology1 %>
              <%= sanitize @term.etymology2 %>
              <%= sanitize @term.uses %>
              <p></p>
              <%= sanitize @term.notes1, tags: %w(u) %>
              <p></p>
              <%= sanitize @term.notes2, tags: %w(u) %>
            </td>
          </tr>
        </dl>
      </table>
    </div>
  </div>
</div>


