<div class="container-fluid" id="show">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <dl>
          <tr>
            <td>
              <b><%= @term.name %></b>
              <%= @term.gender %>
              <%= @term.p_s %>
              <%= @term.part_of_speech.try(:html_safe) %>
              <%= @term.definition.try(:html_safe) %>
              <%= @term.etymology1.try(:html_safe) %>
              <%= @term.etymology2.try(:html_safe) %>
              <%= @term.uses.try(:html_safe) %>
              <p></p>
              <%= @term.notes1.try(:html_safe) %>
              <p></p>
              <%= @term.notes2.try(:html_safe) %>
            </td>
          </tr>
        </dl>
      </table>
    </div>
  </div>
</div>


