<table class="table table-striped entries-top-margin">
  <tr>
    <td>
      <% if admin_signed_in? %>
        <div><%= link_to "Edit", "term/#{@term.slug}/edit", 
              class: "btn btn-default no-radius" %></div>
      <% end %>
      
      <!-- Name, Gender, Prefix/Suffix, Part of Speech, Definition -->
      <section class="mb-10">
        <strong><%= yield %></strong>
        <% @term.attributes.to_a[4..7].each do |label, value| %>
          <%= sanitize value %>
        <% end %>
      </section>

      <!-- Etymology 1 & 2 -->
      <% if etymology?(@term) %>
        <section class="mb-10">
          <% @term.attributes.to_a[8..9].each do |label, value| %>
            <%= sanitize value %>
          <% end %>
        </section>
      <% end %>

      <% if @term.uses.present? %>
        <section class="mb-10">
          <%= sanitize @term.uses %>
        </section>
      <% end %>

      <% if @term.variants.present? %>
        <section class="ml-40">
          <strong class="underline">Variants</strong>
          <div class="mb-10 ml-24"><%= sanitize @term.variants %></div>
        </section>
      <% end %>

      <% if ie_family?(@term) %> 
        <section class="ml-40 mb-10">
          <section class="<%= family?(@term.ie_c) %>">
            <strong class="underline">Indo-European</strong>
            <div class="ml-24"><%= sanitize @term.ie_c %></div>
          </section>

          <!-- Romance, Italic, Etruscan, Celtic, Germanic, Albanian, Balto-Slavic, Hellenic, Thracian, Phyrgian, Messapian, Armenian, Indo-Iranian, Tocharian, Anatolian -->
          <% @term.attributes.to_a[13..25].each do |label, value| %>
            <% if value.present? %>
              <section class="ml-24">
                <strong><%= t(label) %></strong>
                <div class="ml-24"><%= sanitize value %></div>
              </section>
            <% end %>
          <% end %>
        </section>
      <% end %>

      <!-- Basque & Tyrsenian -->
      <% @term.attributes.to_a[27..28].each do |label, value| %> 
        <% if value.present? %>
          <section class="ml-40 mb-10">
            <strong class="underline"><%= t(label) %></strong>
            <div class="ml-24"><%= sanitize value %></div>
          </section>
        <% end %>
      <% end %>

      <% if uralic_family?(@term) %>
        <section class="ml-40 mb-10"">
          <section class="<%= family?(@term.u_c) %>">
            <strong class="underline">Uralic</strong>
            <div class="ml-24"><%= sanitize @term.u_c %></div>
          </section>

          <!-- Sami, Finnic, Mordvinic, Mari, Mansi, Khanty -->
          <% @term.attributes.to_a[30..35].each do |label, value| %>
            <% if value.present? %>
              <section class="ml-24">
                <strong><%= t(label) %></strong>
                <div class="ml-24"><%= sanitize value %></div>
              </section>
            <% end %>
          <% end %>
        </section>
      <% end %>

      <% if ne_caucasian_family?(@term) %>
        <section class="ml-40 mb-10">
          <section class="<%= family?(@term.nec_c) %>">
            <strong class="underline">Northeast Caucasian</strong>
            <div class="ml-24"><%= sanitize @term.nec_c %></div>
          </section>

          <% @term.attributes.to_a[37..41].each do |label, value| %>
            <% if value.present? %>
              <section class="ml-24">
                <strong><%= t(label) %></strong>
                <div class="ml-24"><%= sanitize value %></div>
              </section>
            <% end %>
          <% end %>
        </section>
      <% end %>

      <% if afro_asiatic_family?(@term) %>
        <section class="ml-40 mb-10">
          <section class="<%= family?(@term.aa_c) %>">
            <strong class="underline">Afro-Asiatic</strong>
            <div class="ml-24"><%= sanitize @term.aa_c %></div> 
          </section>

          <% @term.attributes.to_a[43..44].each do |label, value| %>
            <% if value.present? %>
              <section class="ml-24">
                <strong><%= t(label) %></strong>
                <div class="ml-24"><%= sanitize value %></div>
              </section>
            <% end %>
          <% end %>
        </section>
      <% end %>

      <!-- Notes 1 & 2 -->
      <% @term.attributes.to_a[45..46].each do |label, value| %>
        <% if value.present? %>
          <div><p><%= sanitize value %></p></div>
        <% end %>
      <% end %>
      
      <%= render partial: "/shared/citations/single_term_citations" %>
    </td>
  </tr>
</table>