<div class="container-fluid entries-top-margin end-pad">
  <div class="col-lg-offset-1 col-lg-8">
    <div class="row">
      <h1>Edit Post</h1>

      <hr />

      <%= form_tag "/post/#{@post.id}", method: :patch do %>
        <div class="form-group">
          <%= label_tag :heading %>
          <%= text_field_tag :heading, @post.heading, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :body %>
          <%= text_area_tag :body, @post.body, class: 'form-control', rows: "7" %>
        </div>
        <p><%= submit_tag "Save Post", class: "btn btn-success no-radius" %></p>
      <% end %>
    </div>
  </div>
</div>
