<%= form_tag "/home/update/#{@post.id}", method: :patch do %>
  <div class="container-fluid entries-top-margin end-pad">
    <div class="row">
      <div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8">
        <%= link_to "Back to posts", "/" %>
        <%= hidden_field_tag :id, @post.id %>
        <h3>Edit Post: <span class="italic"><%= @post.title %></span></h3>

        <hr />

        <div class="form-group">
          <%= label_tag :title, "Title" %>
          <%= text_field_tag :title, @post.title, class: 'form-control' %>
        </div>  

        <div class="form-group">
          <%= label_tag :body, "Body" %>
          <%= text_area_tag :body, @post.body, class: 'form-control', rows: "8" %>
        </div>

        <p><%= submit_tag "Save Post", data: { :confirm => "Do you wish to continue?" }, class: "btn btn-success no-radius" %>
          
          <% if @post != @welcome_post %>
            <span class="pull-right"><%= link_to "Delete Post", "/home/update/#{@post.id}", method: :delete, data: { :confirm => "Do you wish to permanently delete this post?" }, class: "btn btn-danger no-radius" %></span>
          <% end %>
        </p>
        <div><%= link_to "Back to posts", "/" %></div>

      </div>
    </div>
  </div>
<% end %>