<div class="container">
  <div class="row end-pad">
    <div class="col-md-6 col-md-offset-3">
      
      <%= render "/shared/general/mobile_alphabet" %>

      <div class="page-header">
        <h3 class="text-center">Word of the Day</h3>
      </div>
      
      <%= render partial: "/shared/terms/linked_term", layout: "shared/terms/single_term_entry" %>
      
      <div class="font">

        <% @posts.each do |post| %>
          <div class="page-header">
            <h4><strong>
              <%= link_to_if(admin_signed_in?, post.title, "/home/update/#{post.id}/edit") do
                post.title end 
              %>    
            </strong></h4>
          </div>
          <div class="line-wrap"><%= sanitize(post.body, 
              tags: %w(b em a u i sup sub p b div img), 
              attributes: %w(href src alt class width height)) 
            %></div>
        <% end %>

        <div class="page-header">
          <h4><strong>
            <%= link_to_if(admin_signed_in?, @welcome_post.title, "/home/update/#{@welcome_post.id}/edit") do
              @welcome_post.title end 
            %>
          </strong></h4>
        </div>
        <div class="line-wrap"><%= sanitize(@welcome_post.body, 
            tags: %w(b em a u i sup sub p b div img), 
            attributes: %w(href src alt class width height)) 
          %></div>

      </div>
    </div>
  </div>
</div>