<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">
  <meta name="robots" content="<%= meta_robots %>">
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'favicon.ico' %>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K96R2TH');</script>
  <!-- End Google Tag Manager -->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K96R2TH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img class="navlogo" src="/assets/images/etylogo.png" alt="La Dama de Elche"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-left" id="navbar-collapse">
        <ul class="nav navbar-nav">

          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle red" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "New Entry", new_term_path %></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          <% end %>

          <li><%= link_to "Phonology", phonology_path %></li>
          <li><%= link_to "Browse Words", directory_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->

      <!-- Search form -->
      <div class="navbar-right">
        <form class="navbar-form" role="search" method="get" action="/search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="query" id="search-term">
            <div class="input-group-btn">
              <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container-fluid">
      <div class="header-box">
        <div class="banner-logo">
          <img src="/assets/images/logo.png" alt="La Dama de Elche">
        </div>
        <div id="banner-title">
          ETYMOLOGICAL DICTIONARY of SPANISH
        </div>
      </div>
      <div id="alphabet">
        <ul>
          <% Term::LOWERCASE_ALPHABET_CONSTANTS.zip(Term::UPPERCASE_ALPHABET_CONSTANTS).each do |lower, upper| %>
            <li>
              <a href="/directory/<%= lower %>"><%= upper %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container font">
    <% flash.each do |name, message| %>
      <div class="no-radius alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= sanitize message, tags: %w(br) %>
      </div>
    <% end %>
  </div>

  <%= yield %>

  <footer class="footer">
    <div class="wrapper">
      <div id="navigation" class="container-fluid">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Phonology", phonology_path %></li>
          <li><%= link_to "Sources", sources_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Facebook", "https://www.facebook.com/SpanishEtym-OEDoS-1721537891443952/", :target => "_blank" %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
        </ul>
      </div>
      <div>
        <p id="copyright">&#169; <%= Date.today.year %> etymologyofspanish.com</p>
      </div>
    </div>
  </footer>
</body>
</html>
