<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Spanish Etymology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Playfair+Display" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <!-- fix this so it disappears at specific screen size -->
          <li><%= link_to "Directory", directory_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <!-- Add search form -->
      <div class="navbar-right">
        <!-- flips directory link from left to right of search bar -->
        <!-- <div class="navbar-header navbar-search"> -->
        <form class="navbar-form" role="search" method="get" action="/search">
          <div class="input-group">
            <input type="text" class="form-control longer-search" placeholder="Search" name="query" id="search-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>

<!--       <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/directory">Directory</a></li>
        </ul>
      </div>  --><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="jumbotron j-format">
    <div class="container-fluid">
      <div class="banner-title">
        Spanish Etymological Dictionary
      </div>
      <div class="slogan">
        The free online dictionary for Spanish etymology
      </div>
      <div>
        <!-- How to add link to image without errors? -->
        <img class="img-responsive center-block logo" src="/assets/images/etylogo.png">
      </div>
      <div class="row">
        <ul class="alphabet">
          <% ('A' .. 'Z').each do |letter| %>
            <li class="alphabet"><a href="/directory/<%= letter.downcase %>"><%= letter %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<!-- <div class="left"></div>
<div class="right"></div> -->

<%= yield %>

<footer class="footer">
  <div class="container">
    <div>
      <p id="follow">FOLLOW US</p>
    </div>
    <div class="social-icons">
      <ul class="social">
        <li class="social"><a href="https://www.facebook.com" class="social btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
        <li class="social"><a href="https://plus.google.com" class="social btn btn-social-icon btn-google"><span class="fa fa-google-plus"></span></a></li>
        <li class="social"><a href="https://www.twitter.com/" class="social btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a></li>
        <li class="social"><a href="https://www.reddit.com/" class="social btn btn-social-icon btn-reddit"><span class="fa fa-reddit"></span></a></li>
      </ul>
    </div>
    <div class="col-md-12">
      <p id="copyright">&#169; 2016 OEDoS. All Rights Reserved.</p>
    </div>
  </div>
</footer>

</body>
</html>
