<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Spanish Etymology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Playfair+Display" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img class="navlogo" src="/assets/images/etylogo.png"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Directory", directory_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <!-- Adds search form -->
      <div class="navbar-right">
        <!-- <div class="navbar-header navbar-search"> -->
        <form class="navbar-form" role="search" method="get" action="/search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="query" id="search-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container-fluid">
      <div id="banner-title">
        Spanish Etymological Dictionary
      </div>
      <div id="slogan">
        The free etymological dictionary of the Spanish language online
      </div>
      <div>
        <a href="/"><img class="img-responsive center-block" id="banner-logo" src="/assets/images/etylogo.png"></a>
      </div>
      <div id="alphabet">
        <ul>
          <% ('A' .. 'C').each do |alphabet| %>
            <li><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
            <li><a href="/directory/ch">CH</a></li>
          <% ('D' .. 'L').each do |alphabet| %>
            <li><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
            <li><a href="/directory/ll">LL</a></li>
            <li><a href="/directory/m">M</a></li>
            <li><a href="/directory/n">N</a></li>
            <li><a href="/directory/ñ">Ñ</a></li>
          <% ('O' .. 'Z').each do |alphabet| %>
            <li><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<!-- <div class="left"></div>
<div class="right"></div> -->

  <%= yield %>

  <footer class="footer">
    <div class="wrapper">
      <div id="navigation" class="container-fluid">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="/">Support</a></li>
          <li><a href="http://www.cranberryletters.com/">Cranberry Letters</a></li>
        </ul>
      </div>
      <div>
        <p id="copyright">&#169; 2016 OEDoS. All Rights Reserved.</p>
      </div>
    </div>
  </footer>

</body>
</html>
