<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Spanish Etymology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80641405-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img class="navlogo" src="/assets/images/etylogo.png"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Appendix", appendix_path %></li>
          <li><%= link_to "Phonology", phonology_path %></li>
          <li class="npad-right"><%= link_to "Browse Words", directory_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <!-- Adds search form -->
      <div class="navbar-right">
        <form class="navbar-form" role="search" method="get" action="/search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="query" id="search-term">
            <div class="input-group-btn">
              <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container-fluid">
      <div class="header-box">
        <div id="banner-title">
          Spanish Etymological Dictionary
        </div>
        <div id="slogan">
          The free online etymological dictionary of the Spanish language
        </div>
        <div>
          <a href="/"><img class="banner-logo" src="/assets/images/etylogo.png"></a>
        </div>
      </div>
      <div id="alphabet">
        <ul>
          <% ('A' .. 'C').each do |alphabet| %>
            <li><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
            <li><a href="/directory/ch">CH</a></li>
          <% ('D' .. 'L').each do |alphabet| %>
            <li><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
            <li><a href="/directory/ll">LL</a></li>
            <li><a href="/directory/m">M</a></li>
            <li><a href="/directory/n">N</a></li>
            <li><a href="/directory/ñ">Ñ</a></li>
          <% ('O' .. 'Z').each do |alphabet| %>
            <li><a href="/directory/<%= alphabet.downcase %>"><%= alphabet %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%= yield %>

  <footer class="footer">
    <div class="wrapper">
      <div id="navigation" class="container-fluid">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Appendix", appendix_path %></li>
          <li><%= link_to "Phonology", phonology_path %></li>
          <li><%= link_to "Sources", sources_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Facebook", "https://www.facebook.com/SpanishEtym-OEDoS-1721537891443952/", :target => "_blank" %></li>
        </ul>
      </div>
      <div>
        <p id="copyright">&#169; 2016 SpanishEtym, LLC. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</body>
</html>
